/* Base styles for all screen sizes */
.services {
  display: flex;
  justify-content: center;
  height: 50vh;
  margin-bottom: 150px;
}

h1 {
  font-size: 2rem;
  text-align: center;
  font-family: "Kalnia", serif;
}

.services-grid {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap on smaller screens */
  gap: 20px;
  justify-content: center;
  text-align: center;
  font-family: "Kalnia", serif;
}

.services-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  background-color: #759cbf;
}

.services-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.container {
  padding: 2px 16px;
}

.services-card h3,
.services-card p {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Kalnia", serif;
}

/* Media query for larger screens (min-width: 768px) */
@media screen and (min-width: 768px) {
  .services-grid {
    flex-wrap: nowrap; /* Prevent card wrapping */
  }
}
/* Media query for phones (max-width: 480px) */
@media screen and (max-width: 480px) {
  .services {
    /* Adjust height or other properties as needed */
    height: auto;
  }

  .services-grid {
    /* Adjust gap or other properties as needed */
    gap: 10px;
  }

  .services-card {
    /* Adjust max-width or other properties as needed */
    max-width: 100%;
  }
}
